table.center {
    margin-left:auto; 
    margin-right:auto;
  }

  /* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin: 0 auto;
}